<p id="notice"><%= notice %></p>

<h1>Вопросов пока нет</h1>

<table>
  
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.quations %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Add a comment:</h2>
<%= form_with(model: [ @post, @post.answers.build ], local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Задать вопрос', new_post_path %>
